<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Astrid UI</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Quicksand&display=swap" rel="stylesheet">
    
    <!--Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="./libraries/css/all.css" />
    <link rel="stylesheet" href="./libraries/css/all.min.css" />

    <!-- Vuetify -->
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- Simply Notify -->
    <link href="./libraries/css/simple-notify.min.css" rel="stylesheet">
    
    <!-- Material -->
    <link rel="stylesheet" href="./libraries/css/material.css">

    <!-- Default -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <v-app id="HUD">
      <div id="Characters_Container" v-show="showCharacters">
        <div id="Characters_Header">
          <div class="headerImage"></div>
          <div class="headerText">CAD/MDT Characters</div>
        </div>

        <div id="Characters_Body">
          <div id="Body_Card">
            <div id="Body_Card_Header">
              <div id="bodyHeaderIcon"><v-icon color="white" size="40">mdi-account-multiple-plus</v-icon></div>
              <div id="bodyHeaderText">Your Characters</div>
            </div>

            <div id="Body_Card_Characters">
              <v-alert color="red" dark icon="mdi-close" border="left" prominent v-show="deletedCharacter">
                Character Deleted
              </v-alert>

              <v-alert color="red" dark icon="mdi-close" border="left" prominent v-show="incorrectDOB">
                Invalid DOB Entered
              </v-alert>

              <div id="Characters" v-for="(character, index) in characters" :key="character.id">
                <div class="character" @click="selectCharacter(index)" @mouseover="showCharacter(index)" @mouseleave="hideCharacter()">{{ character.firstName }} {{ character.lastName }} - {{ character.nationality }} ({{ character.age }})</div><br>
                <!-- {{ character.firstName }} -->
              </div>
            </div>

            <div id="Character_Buttons_Container" v-if="this.selectedCharacter !== undefined">
              <div id="Character_Buttons">
                <v-tooltip top>
                  <template #activator="data">
                    <v-btn class="mx-2" small fab dark color="success" v-on="data.on" @click="startCreatingChar()"><v-icon dark>mdi-pencil</v-icon></v-btn>
                  </template>
                  <span>Create Character</span>
                </v-tooltip>

                <v-tooltip top>
                  <template #activator="data">
                    <v-btn class="mx-2" small fab dark color="primary" v-on="data.on" @click="startEditingChar()"><v-icon dark>mdi-account-edit</v-icon></v-btn>
                  </template>
                  <span>Edit Character</span>
                </v-tooltip>
                
                <v-tooltip top>
                  <template #activator="data">
                    <v-btn class="mx-2" small fab dark color="error" v-on="data.on" @click="checkCharDeletion()"><v-icon dark>mdi-close</v-icon></v-btn>
                  </template>
                  <span>Delete Character</span>
                </v-tooltip>
              </div>
                
              <v-tooltip top>
                <template #activator="data">
                  <v-btn class="spawn" small fab dark color="dark" v-on="data.on" @click="spawnCharacter()"><v-icon dark>mdi-account-check</v-icon></v-btn>
                </template>
                <span>Spawn</span>
              </v-tooltip>
            </div>

            <div id="Character_Buttons_Container_Single" v-else>
              <div id="Character_Buttons">
                <v-tooltip top>
                  <template #activator="data">
                    <v-btn class="mx-2" small fab dark color="success" v-on="data.on" @click="startCreatingChar()"><v-icon dark>mdi-pencil</v-icon></v-btn>
                  </template>
                  <span>Create Character</span>
                </v-tooltip>
              </div>
            </div>
          </div>

          <v-card id="Character_Card" dark hover elevation="1" outlined v-show="hoveringCharacter">
            <v-card-title>
              <h2 style="font-family: 'PT-Sans';">{{ hoveredCharacter.firstName }} {{ hoveredCharacter.lastName }} | {{ hoveredCharacter.id }}</h2>
            </v-card-title>
            
            <v-card-text>
              <span style="font-family: 'PT-Sans-Caption';"><b>DOB</b>: {{ hoveredCharacter.dob }}</span><br>
              <span style="font-family: 'PT-Sans-Caption';"><b>Age</b>: {{ hoveredCharacter.age }}</span><br>
              <div v-if="hoveredCharacter.gender == 0"><span style="font-family: 'PT-Sans-Caption';"><b>Gender</b>: Male</span><br></div>
              <div v-if="hoveredCharacter.gender == 1"><span style="font-family: 'PT-Sans-Caption';"><b>Gender</b>: Female</span><br></div>
              <span style="font-family: 'PT-Sans-Caption';"><b>Nationality</b>: {{ hoveredCharacter.nationality }}</span><br>
              <span style="font-family: 'PT-Sans-Caption';" v-if="hoveredCharacter.jobName != 'civilian'"><b>Job</b>: {{ hoveredCharacter.jobLabel }} ({{ hoveredCharacter.jobRank }})</span>
              <span style="font-family: 'PT-Sans-Caption';" v-if="hoveredCharacter.jobName == 'civilian'"><b>Job</b>: {{ hoveredCharacter.jobLabel }}</span>
              <!-- <span style="font-family: 'PT-Sans-Caption';"><b>Phone</b>: {{ hoveredCharacter.phone }}</span><br> -->
              <br><span style="font-family: 'PT-Sans-Caption';"><b>Backstory</b>: {{ hoveredCharacter.backstory }}</span>
            </v-card-text>
          </v-card>

          <!-- Character Dialogs -->
          <v-dialog id="Character-Creator" transition="dialog-top-transition" max-width="600" v-model="creatingCharacter">
            <template v-slot:default="dialog">
              <v-card dark>
                <v-toolbar color="success" dark><h2>New Character</h2></v-toolbar>

                <v-card-text>
                  <v-form ref="charCreatorForm" class="px-3">
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="20">
                          <br>
                          <v-text-field v-model="newCharacter.firstName" :rules="nameRules" outlined label="First Name" append-icon="mdi-rename-box" required></v-text-field>
                          <v-text-field v-model="newCharacter.lastName" :rules="nameRules" outlined label="Surname" append-icon="mdi-rename-box" required></v-text-field>
                          <v-text-field v-model="newCharacter.nationality" :rules="nationalityRules" outlined label="Nationality" append-icon="mdi-map-marker" required></v-text-field>
                          <v-textarea v-model="newCharacter.backstory" :rules="backstoryRules" outlined label="Backstory" append-outer-icon="mdi-book-open-page-variant" required></v-textarea>
                          
                          <v-menu ref="charCreatorMenu" v-model="charCreatorMenu" :close-on-content-click="false" transition="scale-transition" offset-y max-width="290px" min-width="auto">
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field v-model="newCharacter.dob" label="Date of Birth" :rules="dobRules" hint="YYYY-MM-DD format" persistent-hint append-icon="mdi-calendar" v-bind="attrs" v-on="on"></v-text-field>
                            </template>
                            <v-date-picker id="Character-DOB" color="success" v-model="newCharacter.dob" no-title @input="charCreatorMenu = false" dark></v-date-picker>
                          </v-menu><br>

                          <v-text-field v-model="newCharacter.age" :rules="ageRules" outlined label="Age" readonly append-icon="mdi-account-clock"></v-text-field>
                          <v-select
                            v-model="newCharacter.licenseValues"
                            :items="newCharacter.licenses"
                            color="green"
                            chips
                            label="Licenses"
                            multiple
                            outlined
                            append-icon="mdi-card-account-details"
                          ></v-select>

                          <v-text-field v-model="newCharacter.mugshot" outlined label="Mugshot Image Link" append-icon="mdi-camera"></v-text-field>
                        </v-col>
                        
                        <v-col cols="12" sm="12" md="20">
                          <v-checkbox v-model="newCharacter.isFemale" label="Female Character" color="success" :ripple=false></v-checkbox>
                          <v-btn color="success" class="mr-4" @click="createCharacter()" :ripple=false>Create</v-btn>
                          <v-btn color="error" class="mr-4" @click="resetCharCreation()" :ripple=false>Reset</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-card-text>
              </v-card>
            </template>
          </v-dialog>
          
          <v-dialog id="Character-Editor" transition="dialog-top-transition" max-width="600" v-model="editingCharacter">
            <template v-slot:default="dialog">
              <v-card dark>
                <v-toolbar color="success" dark><h2>Edit Character</h2></v-toolbar>

                <v-card-text>
                  <v-form ref="charEditorForm" class="px-3">
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="20">
                          <br>
                          <v-text-field v-model="characters[selectedCharacter].firstName" :rules="nameRules" outlined label="First Name" append-icon="mdi-rename-box" required></v-text-field>
                          <v-text-field v-model="characters[selectedCharacter].lastName" :rules="nameRules" outlined label="Surname" append-icon="mdi-rename-box" required></v-text-field>
                          <v-text-field v-model="characters[selectedCharacter].nationality" :rules="nationalityRules" outlined label="Nationality" append-icon="mdi-map-marker" required></v-text-field>
                          <v-textarea v-model="characters[selectedCharacter].backstory" :rules="backstoryRules" outlined label="Backstory" append-outer-icon="mdi-book-open-page-variant" required></v-textarea>
                          <v-text-field v-model="characters[selectedCharacter].mugshot" outlined label="Mugshot Image Link" append-icon="mdi-camera"></v-text-field>

                          <v-select
                            v-model="characters[selectedCharacter].licenseValues"
                            :items="newCharacter.licenses"
                            chips
                            label="Licenses"
                            multiple
                            outlined
                            append-icon="mdi-card-account-details"
                          ></v-select>
                        </v-col>
                        
                        <v-flex xs6>
                          <v-btn style="margin-left: 50%;" class="mr-4" color="success" dark block @click="editCharacter()">Edit</v-btn>
                        </v-flex>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-card-text>
              </v-card>
            </template>
          </v-dialog>

          <v-dialog v-model="showCharacterDelete" transition="dialog-top-transition" max-width="fit-content">
            <template v-slot:default="dialog">
              <v-card dark>
                <v-card-title style="justify-content: center; color: white;">
                  Are you sure you want to delete this character?
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-xs>
                    <v-layout row>
                      <v-flex xs6>
                        <v-btn class="mr-4" color="red" dark block @click="showCharacterDelete = false">No Thanks</v-btn>
                      </v-flex>
                      <v-flex xs6>
                          <v-btn class="mr-4" color="green" dark block @click="deleteCharacter()">Yes Delete</v-btn>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            </template>
          </v-dialog>
        </div>
      </div>

      <!-- Compass (MAYBE) -->
      <!-- <div id="compass_container"> -->
        <!-- <div id="compass"></div>   -->
        <!-- <div class="outline">
          <div class="mapdirections"></div>
          <div class="mapbordercircle"></div>
        </div> -->
      <!-- </div> -->

      <div id="Spawn_Container" v-show="spawnActive">
        <div id="Spawn_Header">
          <div id="ServerInfo">
            <div id="Card_Header">Server Info</div>
            <div id="Card_Body">
              <!-- <h1>Lorem Ipsum</h1> -->
              <v-progress-circular :rotate="-90" :size="120" :width="10" :value="players.percent" color="success">
                <div id="progress-text">
                  <span style="display: block; text-align: center; color: white; font-size: 2em; font-family: 'PT-Sans-Bold';">
                    {{ players.current }} 
                  </span>
                  <span style="display: block; color: white; font-size: 1em;">
                    out of {{ players.max }}
                  </span>
                </div>
              </v-progress-circular>
            </div>
            <div id="Card_Footer">Current AOP - {{ currentAOP }}</div>
          </div>

          <div id="Server_Banner"></div>

          <div id="BestPlayer">
            <div id="Card_Header">Best Player</div>
            <div id="Card_Footer">{{ players.bestPlayer }}</div>
          </div>
        </div>

        <div id="Spawn_Body">
          <div v-if="pages[currentPage].label == 'home'">
            <div id="Middle_Card" :class="{'middleOther': pages[currentPage].label != 'rules', 'middleRules': pages[currentPage].label == 'rules'}">
              <div id="Middle_Card_Header">Change Log</div>
              <div id="Middle_Card_Body">
                <div id="Changelog_Contents">
                  <div v-for="(change, index) in serverChangelog" :key="change.version">
                    <div style="text-align: center; font-weight: bold; font-size: 2em; text-decoration: underline; color: white;">{{ change.version }}</div><br>

                    <h2 style="text-align: left; font-size: 1.3em; text-decoration: underline; color: white;">Additions</h2><br>
                    <ul style="margin-left: 25px; font-size: 1em; color: white;" v-for="addition in change.additions">
                      <li>{{ addition }}</li>
                    </ul><br>

                    <h2 style="text-align: left; font-size: 1.3em; text-decoration: underline; color: white;">Bug Fixes</h2><br>
                    <ul style="margin-left: 25px; font-size: 1em; color: white;" v-for="fix in change.fixes">
                        <li>{{ fix }}</li>
                    </ul><br>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-else-if="pages[currentPage].label == 'keybinds'">
            <div id="Middle_Card" :class="{'middleOther': pages[currentPage].label != 'rules', 'middleRules': pages[currentPage].label == 'rules'}">
              <div id="Middle_Card_Header">Keybinds</div>
              <div id="Middle_Card_Body">
                <input id="KeybindSearch" v-model="keybindSearch" type="text" placeholder="Search Keybinds...">
                <div id="Keybinds_Contents">
                  <div v-for="(keybind, index) in searchKeybinds">
                    <div id="Keybind_Card" class="cardShadow">
                      <span style="font-size: 2em;"><kbd>{{ keybind.key }}</kbd></span><span style="margin-top: 15px; margin-left: 10px; font-family: PT-Sans-Bold;">{{ keybind.description }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-else-if="pages[currentPage].label == 'commands'">
            <div id="Middle_Card" :class="{'middleOther': pages[currentPage].label != 'rules', 'middleRules': pages[currentPage].label == 'rules'}">
              <div id="Middle_Card_Header">Commands</div>
              <div id="Middle_Card_Body">
                <input id="KeybindSearch" v-model="commandSearch" type="text" placeholder="Search Commands...">
                <div id="Keybinds_Contents">
                  <div v-for="(command, index) in searchCommands">
                    <div id="Keybind_Card" class="cardShadow">
                      <span style="font-weight: bold; font-size: 1.2em;"><kbd>/{{ command.name }}</kbd> {{ command.description }}</span>
                      <!-- <h2>/{{ command.name }}</h2><br> -->
                      <!-- <h4>{{ command.description }}</h4> -->
                      <!-- {{ command.name }} | {{ command.description }} -->
                      <!-- <span style="font-size: 2em;"><kbd>{{ keybind.key }}</kbd></span><span style="margin-top: 15px; margin-left: 10px; font-family: PT-Sans-Bold;">{{ keybind.description }}</span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-else-if="pages[currentPage].label == 'rules'">
            <div id="Middle_Card" :class="{'middleOther': pages[currentPage].label != 'rules', 'middleRules': pages[currentPage].label == 'rules'}">
              <div id="Middle_Card_Header">Rules</div>
              <div id="Middle_Card_Body">
                <div id="Rules_Contents">
                  <div v-for="(rule, index) in serverRules" style="line-height: 2.5;" :key="rule.title">
                    <div class="ruleTitle">{{ index + 1 }}) {{ rule.title }}:</div>
                    <div class="ruleDescription">{{ rule.description }}</div>
                  </div>
                </div><br>
                <button id="Spawn_Btn" @click="CloseSpawner()"><span style="font-family: 'PT-Sans-Bold'; font-size: 1.4em;">Spawn</span><br><span style="font-family: 'Inter-Thin'; font-size: 1em;">I accept these rules</span></button>
              </div>
            </div>
          </div>
          
          <div id="Page_Selector">
            <v-tabs v-model="currentPage" vertical background-color="transparent" color="white" :hide-slider="true">
              <v-tab v-for="page in pages" :key="page.icon" style="border-left: 0" :ripple="false">
                <v-icon left>{{ page.icon }}</v-icon>
                {{ page.label }}
              </v-tab>
            </v-tabs>
          </div>
        </div>
      </div>

      <!-- Vehicles -->
      <div id="Vehicles_Container" v-show="showVehicles">
        <div id="Vehicles_Header">
          <div class="headerImage"></div>
          <div class="headerText">CAD/MDT Vehicles</div>
        </div>

        <div id="Vehicles_Body">
          <div id="Vehicles_Body_Container">
            <v-tooltip bottom>
              <template #activator="data">
                <v-btn class="closeVehBtn" small fab dark color="error" v-on="data.on" @click="closeVehicles()" top right><v-icon dark>mdi-close</v-icon></v-btn>
              </template>
              <span>Close</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template #activator="data">
                <v-btn class="createVehBtn" small fab dark color="success" v-on="data.on" @click="startCreatingVehicles()" absolute top right><v-icon dark>mdi-pencil</v-icon></v-btn>
              </template>
              <span>Create Vehicle</span>
            </v-tooltip>

            <v-container grid-list-md>
              <v-row justify="center">
                <v-col>
                  <v-expansion-panels id="Vehicles" dark multiple>
                    <v-expansion-panel id="Vehicle_Card" v-for="(vehicle, index) in registeredVehicles" :key="vehicle.id">
                      <v-expansion-panel-header>
                        <strong>{{ vehicle.label }} - {{ vehicle.plate }}</strong>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <ul>
                          <li><strong>Type</strong>: {{ vehicle.type }}</li>
                          <li><strong>Colour</strong>: {{ vehicle.colour }}</li>
                          <li><strong>Plate</strong>: {{ vehicle.plate }}</li>
                          <li><strong>Registered On</strong>: {{ vehicle.displayDate }}</li>
                        </ul><br>
                        
                        <v-divider></v-divider>
                        <div class="vehicleButtons">
                          <v-tooltip top>
                            <template #activator="data">
                              <v-btn class="mx-2" small fab dark color="primary" v-on="data.on" @click="startEditingVehicle(index)"><v-icon dark>mdi-pencil</v-icon></v-btn>
                            </template>
                            <span>Edit Vehicle</span>
                          </v-tooltip>
                          
                          <v-tooltip top>
                            <template #activator="data">
                              <v-btn class="mx-2" small fab dark color="error" v-on="data.on" @click="startVehDeletion(index)"><v-icon dark>mdi-close</v-icon></v-btn>
                            </template>
                            <span>Delete Vehicle</span>
                          </v-tooltip>
                        </div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-col>
              </v-row>
            </v-container>
          </div>

          <!-- Vehicle Dialogs -->
          <v-dialog id="Vehicle-Creator" transition="dialog-top-transition" max-width="600" v-model="creatingVehicle">
            <template v-slot:default="dialog">
              <v-card dark>
                <v-toolbar color="success" dark><h2>New Vehicle</h2></v-toolbar>

                <v-card-text>
                  <v-form ref="vehCreatorMenu" class="px-3">
        
                    <v-container>
                      <v-alert color="red" dark icon="mdi-close" border="left" prominent v-show="insideNotify">
                        You aren't inside a vehicle
                      </v-alert>

                      <v-row v-if="!insideNotify">
                        <v-col cols="12" sm="12" md="20">
                          <br>
                          <v-text-field v-model="createVehData.label" outlined label="Name" append-icon="mdi-car" readonly></v-text-field>
                          <v-text-field v-model="createVehData.type" outlined label="Type" append-icon="mdi-format-list-bulleted-type" readonly></v-text-field>
                          <v-text-field v-model="createVehData.colour" outlined label="Colour" append-icon="mdi-palette" readonly></v-text-field>
                          <v-text-field v-model="createVehData.plate" outlined label="Plate" append-icon="mdi-card-account-details"></v-text-field>
                        </v-col>
                        
                        <v-col cols="12" sm="12" md="20">
                          <v-btn color="success" class="mr-4" @click="createVehicle()" :ripple=false>Create</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-card-text>
              </v-card>
            </template>
          </v-dialog>
          
          <v-dialog id="Vehicle-Editor" transition="dialog-top-transition" max-width="600" v-model="editingVehicle">
            <template v-slot:default="dialog">
              <v-card dark>
                <v-toolbar color="success" dark><h2>Editing Vehicle</h2></v-toolbar>

                <v-card-text>
                  <v-form ref="vehEditorMenu" class="px-3">
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="20">
                          <br>
                          <v-text-field v-model="editedVehData.label" outlined label="Name" append-icon="mdi-car" readonly></v-text-field>
                          <v-text-field v-model="editedVehData.type" outlined label="Type" append-icon="mdi-format-list-bulleted-type" readonly></v-text-field>
                          <v-text-field v-model="editedVehData.colour" outlined label="Colour" append-icon="mdi-palette" readonly></v-text-field>
                          <v-text-field v-model="editedVehData.plate" outlined label="Plate" append-icon="mdi-card-account-details"></v-text-field>
                        </v-col>
                        
                        <v-col cols="12" sm="12" md="20">
                          <v-btn color="success" class="mr-4" @click="editVehicle()" :ripple=false>Save</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-card-text>
              </v-card>
            </template>
          </v-dialog>

          <v-dialog v-model="showVehicleDelete" transition="dialog-top-transition" max-width="fit-content">
            <template v-slot:default="dialog">
              <v-card dark>
                <v-card-title style="justify-content: center; color: white;">
                  Are you sure you want to delete this vehicle?
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-xs>
                    <v-layout row>
                      <v-flex xs6>
                        <v-btn class="mr-4" color="red" dark block @click="showVehicleDelete = false">No Thanks</v-btn>
                      </v-flex>
                      <v-flex xs6>
                          <v-btn class="mr-4" color="green" dark block @click="deleteVehicle()">Yes Delete</v-btn>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            </template>
          </v-dialog>

        </div>
      </div>

      <!-- Scoreboard -->
      <div id="scoreboard_container" v-show="displaying">
        <div id="scoreboard">
          <div id="scoreboard_header">
            Astrid Network | {{ currentPlayers }}/{{ maxPlayers }} Players
            <!-- <br> -->
            <!-- [{{ connectedPlayers.length }} / {{ maxPlayers }}] Players -->
          </div>
          <div id="scoreboard_body">
            <div class="player_header">
              <div class="id_header">
                ID
              </div>
              <div class="name_header">
                Name
              </div>
              <div class="playtime_header">
                Playtime
              </div>
              <div class="ping_header">
                Ping
              </div>
            </div>
            <div id="scoreboard_players">
              <div class="player" v-for="(player, playerIndex) in connectedPlayers" v-if="playerIndex >= (selectedPage * maxPerPage) - maxPerPage && playerIndex <= (selectedPage * maxPerPage)">
                <div class="player_data">
                  <div class="id">
                    {{ player.handle }}
                  </div>
                  <div class="name">
                    {{ player.name }}
                  </div>
                  <div class="playtime">
                    {{ player.formattedPlaytime }}
                  </div>
                  <div class="ping">
                    <span :class="{
                      'lowPing': player.ping <= 40,
                      'goodPing': player.ping <= 80 && player.ping > 40,
                      'decentPing': player.ping < 140 && player.ping > 80,
                      'badPing': player.ping >= 140
                    }">
                      {{ player.ping }}
                    </span>
                    ms
                  </div>
                </div>
                <div class="buttons">
                  <button>Copy Identifiers</button>
                </div>  
              </div>
            </div>
            <div id="scoreboard_animation"></div>
            <div id="scoreboard_pages">
              Page {{ selectedPage }} / {{ pageCount }}
            </div>
          </div>
        </div>
      </div>

      <!-- Chat -->
      <div id="Chat-Messages">
        <div v-for="(message, index) in chatMessages">
          <div v-if="message.type == 'system'">
            <div id="Chat-Message" class="killLog" v-if="message.notificationType == 'kill'">(Global): <span v-html="message.contents"></div>
            <div id="Chat-Message" class="interaction" v-if="message.notificationType == 'interaction'"><span v-html="message.contents"></div>
            <div id="Chat-Message" class="action" v-if="message.notificationType == 'action'"><span v-html="message.contents"></div>
            <div id="Chat-Message" class="fault" v-if="message.notificationType == 'error'">[System Error]: <span v-html="message.contents"></span></div>
            <div id="Chat-Message" class="successMsg" v-if="message.notificationType == 'success'">[System]: <span v-html="message.contents"></span></div>
            <div id="Chat-Message" v-if="message.notificationType == 'announcement'"><span class="fault">[Astrid Announcement]: </span><span style="color: white; font-weight: bold;" v-html="message.contents"></span></div>
            <div id="Chat-Message" v-if="message.notificationType == 'adminAction'"><span class="fault">[Astrid Administration]: </span><span style="color: white; font-weight: bold;" v-html="message.contents"></span></div>
            <div id="Chat-Message" class="advert" v-if="message.notificationType == 'advert'">(Advert - {{ message.sender}}): <span v-html="message.contents"></div>
            <div id="Chat-Message" class="advert" v-if="message.notificationType == 'me'">*{{ message.sender}} <span v-html="message.contents"></span>*</div>
          </div>

          <div id="Chat-Message" class="local" v-if="message.type != 'system' && chatTypes[message.type] == 'local'">(Local - {{ message.sender}}): {{message.contents}}</div>
          <div id="Chat-Message" class="global" v-else-if="message.type != 'system' && chatTypes[message.type] == 'global'">(Global | OOC - {{ message.sender}}): {{message.contents}}</div>
          <div id="Chat-Message" class="admin" v-else-if="message.type != 'system' && chatTypes[message.type] == 'admin'">(Administration - {{ message.sender}}): {{message.contents}}</div>
        </div>
      </div>

      <div id="Chat-Suggestions" class="chatBorder" v-show="showInput && currentSuggestions.length > 0">
        <ul class="suggestions" class="chatBorder">

          <li class="suggestion" v-for="s in currentSuggestions">
            <p>
              <span :class="{ 'disabled': s.disabled }">
                {{s.name}}
              </span>
              <span class="param"
                      v-for="(p, index) in s.params"
                      :class="{ 'disabled': p.disabled }">
                [{{p.name}}]
              </span>
            </p>

            <small class="help">
              <template v-if="!s.disabled">
                {{s.description}}
              </template>

              <template v-for="p in s.params" v-if="!p.disabled">
                {{p.help}}
              </template>
            </small>
          </li>
        </ul>
      </div>

      <div id="Chat-Input" class="chatBorder" v-show="showInput">
        <span v-bind:class="{'local': chatTypes[currentType] == 'local', 'global': chatTypes[currentType] == 'global', 'admin': chatTypes[currentType] == 'admin'}"
          style="text-transform: uppercase; padding: 10px;">
          {{ chatTypes[currentType] }}
        </span>
        <input ref="input" type="text" v-model="chatMessage" style="padding: 5px; color: white; width: 90%; outline: none;" placeholder="Enter chat message...">
        <span style="float: right; padding: 10px;"><v-icon color="white">mdi-arrow-right-bold</v-icon></span>
      </div>

      <!-- Warnings -->
      <div id="warnings_container" v-show="displayWarnings">
        <div id="warnings_header" style="text-decoration: underline;">
          Received Warnings
        </div>

        <div id="warnings_body">
          <input class="warning_search" v-model="warningSearch" type="text" placeholder="Search Warnings...">
          <div class="warning_header">
            <div class="id_header">
              ID
            </div>
            <div class="issued_by_header">
              Issued By
            </div>
            <div class="reason_header">
              Reason
            </div>
            <div class="issued_on_header">
              Issued On
            </div>
          </div>

          <div id="issued_warnings">
            <div class="issued_warning" v-for="(warning, warningIndex) in searchWarnings" v-if="searchWarnings.length > 0">
              <div class="warning_data">
                <div class="id">
                  {{ warning.id }}
                </div>
                <div class="issued_by">
                  <div>{{ warning.issuedBy }}</div>
                </div>
                <div class="reason">
                  {{ warning.reason }}
                </div>
                <div class="issued_on">
                  {{ warning.issuedOn }}
                </div>
              </div>
              <div v-if="(warningIndex + 1) < issuedWarnings.length" style="border-bottom: 1px solid white;"></div>
            </div>
            <h3 v-if="searchWarnings.length == 0" style="color: white; text-align: center; font-weight: bold;"><br>
              No results found!
            </h3>
          </div>
        </div>
      </div>

      <!-- Commends -->
      <div id="commends_container" v-show="displayCommends">
        <div id="commends_header" style="text-decoration: underline;">
          Received Commends
        </div>

        <div id="commends_body">
          <input class="commend_search" v-model="commendSearch" type="text" placeholder="Search Commends...">
          <div class="commend_header">
            <div class="id_header">
              ID
            </div>
            <div class="issued_by_header">
              Issued By
            </div>
            <div class="reason_header">
              Reason
            </div>
            <div class="issued_on_header">
              Issued On
            </div>
          </div>

          <div id="issued_commends">
            <div class="issued_commend" v-for="(commend, commendIndex) in searchCommends" v-if="searchCommends.length > 0">
              <div class="commend_data">
                <div class="id">
                  {{ commend.id }}
                </div>
                <div class="issued_by">
                  <div>{{ commend.issuedBy }}</div>
                </div>
                <div class="reason">
                  {{ commend.reason }}
                </div>
                <div class="issued_on">
                  {{ commend.issuedOn }}
                </div>
              </div>
              <div v-if="(commendIndex + 1) < searchCommends.length" style="border-bottom: 1px solid white;"></div>
            </div>
            <h3 v-if="searchCommends.length == 0" style="color: white; text-align: center; font-weight: bold;"><br>
              No results found!
            </h3>
          </div>
        </div>
      </div>

      <div id="astrid_menu" v-show="menuVisible">
        <div id="astrid_menu_base" v-bind:class="{ 'top-left': menuPosition == 'top-left', 'top-right': menuPosition == 'top-right', 'middle-left': menuPosition == 'middle-left', 'middle-right': menuPosition == 'middle-right', 'bottom-left': menuPosition == 'bottom-left', 'bottom-right': menuPosition == 'bottom-right' }">
          <div id="astrid_menu_header">{{ menuName }}</div>
          <div id="astrid_menu_body">
            <div v-for="(comp, compIndex) in menuComponents">
              <!-- List -->
              <div :id="compIndex" v-if="comp.type == 'list'" class="astrid_menu_list" v-bind:class="{ 'astrid_menu_list_hovered': compIndex == menuOption }">
                <i style="margin-top: 5px;" class="fa fa-arrow-left fa-1x astrid_menu_list_icon_left"></i>
                {{ comp.list[comp.listIndex] }}
                <i style="margin-top: 5px;" class="fa fa-arrow-right fa-1x astrid_menu_list_icon_right"></i>
              </div>
  
              <!-- Checkbox -->
              <div :id="compIndex" v-else-if="comp.type == 'checkbox'" class="astrid_menu_checkbox" v-bind:class="{ 'astrid_menu_checkbox_hovered': compIndex == menuOption, 'menu_checkbox_icon_hovered': compIndex == menuOption }">
                <div style="margin-top: -5px;">{{ comp.name }}</div>
                <v-icon color="black" class="astrid_menu_checkbox_icon" v-if="comp.state">mdi-check</v-icon>
                <v-icon color="black" class="astrid_menu_checkbox_icon" v-else>mdi-close</v-icon>
              </div>
  
              <!-- Button -->
              <div :id="compIndex" v-else class="astrid_menu_button" v-bind:class="{ 'astrid_menu_button_hovered': compIndex == menuOption }">
                <div class="astrid_menu_button_text">{{ comp.name }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </v-app>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Vutify & Vue.JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    
    <!-- FontAwesome -->
    <script src="./libraries/js/all.js"></script>
    <script src="./libraries/js/all.min.js"></script>

    <!-- JQuery -->
    <script src="./libraries/js/jquery.min.js"></script>

    <!-- Simply Notify -->
    <script src="./libraries/js/simple-notify.min.js"></script>

    <!-- Default -->
    <script src="events.js"></script>
    <script src="script.js"></script>
  </body>
</html>
