<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Astrid UI</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Quicksand&display=swap" rel="stylesheet">
    
    <!--Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="./libraries/css/all.css" />
    <link rel="stylesheet" href="./libraries/css/all.min.css" />

    <!-- Vuetify -->
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- Toastr (Notifications) -->
    <link href="./libraries/css/toastr.css" rel="stylesheet">

    <!-- Simply Notify -->
    <link href="./libraries/css/simple-notify.min.css" rel="stylesheet">
    
    <!-- Material -->
    <link rel="stylesheet" href="./libraries/css/material.css">

    <!-- Default -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <v-app id="HUD">

      <!-- Scoreboard -->
      <div id="scoreboard_container" v-show="displaying">
        <div id="scoreboard">
          <div id="scoreboard_header">
            Astrid Network | {{ currentPlayers }}/{{ maxPlayers }} Players
            <!-- <br> -->
            <!-- [{{ connectedPlayers.length }} / {{ maxPlayers }}] Players -->
          </div>
          <div id="scoreboard_body">
            <div class="player_header">
              <div class="id_header">
                ID
              </div>
              <div class="name_header">
                Name
              </div>
              <div class="playtime_header">
                Playtime
              </div>
              <div class="ping_header">
                Ping
              </div>
            </div>
            <div id="scoreboard_players">
              <div class="player" v-for="(player, playerIndex) in connectedPlayers" v-if="playerIndex >= (selectedPage * maxPerPage) - maxPerPage && playerIndex <= (selectedPage * maxPerPage)">
                <div class="player_data">
                  <div class="id">
                    {{ player.handle }}
                  </div>
                  <div class="name">
                    {{ player.name }}
                  </div>
                  <div class="playtime">
                    {{ player.formattedPlaytime }}
                  </div>
                  <div class="ping">
                    <span :class="{
                      'lowPing': player.ping <= 40,
                      'goodPing': player.ping <= 80 && player.ping > 40,
                      'decentPing': player.ping < 140 && player.ping > 80,
                      'badPing': player.ping >= 140
                    }">
                      {{ player.ping }}
                    </span>
                    ms
                  </div>
                </div>
                <div class="buttons">
                  <button>Copy Identifiers</button>
                </div>  
              </div>
            </div>
            <div id="scoreboard_animation"></div>
            <div id="scoreboard_pages">
              Page {{ selectedPage }} / {{ pageCount }}
            </div>
          </div>
        </div>
      </div>

      <!-- Chat -->
      <div id="Chat-Messages">
        <div v-for="(message, index) in chatMessages">
          <div v-if="message.type == 'system'">
            <div id="Chat-Message" class="killLog" v-if="message.notificationType == 'kill'">(Global): {{ message.contents }}</div>
            <div id="Chat-Message" class="interaction" v-if="message.notificationType == 'interaction'">{{ message.contents }}</div>
            <div id="Chat-Message" class="action" v-if="message.notificationType == 'action'">{{ message.contents }}</div>
            <div id="Chat-Message" class="fault" v-if="message.notificationType == 'error'">[System Error]: <span v-html="message.contents"></span></div>
            <div id="Chat-Message" v-if="message.notificationType == 'announcement'"><span class="fault">[Astrid Announcement]: </span><span style="color: white; font-weight: bold;" v-html="message.contents"></span></div>
            <div id="Chat-Message" v-if="message.notificationType == 'adminAction'"><span class="fault">[Astrid Administration]: </span><span style="color: white; font-weight: bold;" v-html="message.contents"></span></div>
            <div id="Chat-Message" class="advert" v-if="message.notificationType == 'advert'">(Advert - {{ message.sender}}): {{ message.contents }}</div>
            <div id="Chat-Message" class="advert" v-if="message.notificationType == 'me'">*{{ message.sender}} <span v-html="message.contents"></span>*</div>
          </div>

          <div id="Chat-Message" class="local" v-if="message.type != 'system' && chatTypes[message.type] == 'local'">(Local - {{ message.sender}}): {{message.contents}}</div>
          <div id="Chat-Message" class="global" v-else-if="message.type != 'system' && chatTypes[message.type] == 'global'">(Global | OOC - {{ message.sender}}): {{message.contents}}</div>
          <div id="Chat-Message" class="admin" v-else-if="message.type != 'system' && chatTypes[message.type] == 'admin'">(Admin - {{ message.sender}}): {{message.contents}}</div>
        </div>
      </div>

      <div id="Chat-Suggestions" class="chatBorder" v-show="showInput && currentSuggestions.length > 0">
        <ul class="suggestions" class="chatBorder">

          <li class="suggestion" v-for="s in currentSuggestions">
            <p>
              <span :class="{ 'disabled': s.disabled }">
                {{s.name}}
              </span>
              <span class="param"
                      v-for="(p, index) in s.params"
                      :class="{ 'disabled': p.disabled }">
                [{{p.name}}]
              </span>
            </p>

            <small class="help">
              <template v-if="!s.disabled">
                {{s.description}}
              </template>

              <template v-for="p in s.params" v-if="!p.disabled">
                {{p.help}}
              </template>
            </small>
          </li>
        </ul>
      </div>

      <div id="Chat-Input" class="chatBorder" v-show="showInput">
        <span v-bind:class="{'local': chatTypes[currentType] == 'local', 'global': chatTypes[currentType] == 'global', 'admin': chatTypes[currentType] == 'admin'}"
          style="text-transform: uppercase; padding: 10px;">
          {{ chatTypes[currentType] }}
        </span>
        <input ref="input" type="text" v-model="chatMessage" style="padding: 5px; color: white; width: 90%; outline: none;" placeholder="Enter chat message...">
        <span style="float: right; padding: 10px;"><v-icon color="white">mdi-arrow-right-bold</v-icon></span>
      </div>

      <!-- Warnings -->
      <div id="warnings_container" v-show="displayWarnings">
        <div id="warnings_header" style="text-decoration: underline;">
          Received Warnings
        </div>

        <div id="warnings_body">
          <input class="warning_search" v-model="warningSearch" type="text" placeholder="Search Warnings...">
          <div class="warning_header">
            <div class="id_header">
              ID
            </div>
            <div class="issued_by_header">
              Issued By
            </div>
            <div class="reason_header">
              Reason
            </div>
            <div class="issued_on_header">
              Issued On
            </div>
          </div>

          <div id="issued_warnings">
            <div class="issued_warning" v-for="(warning, warningIndex) in searchWarnings" v-if="searchWarnings.length > 0">
              <div class="warning_data">
                <div class="id">
                  {{ warning.id }}
                </div>
                <div class="issued_by">
                  <div>{{ warning.issuedBy }}</div>
                </div>
                <div class="reason">
                  {{ warning.reason }}
                </div>
                <div class="issued_on">
                  {{ warning.issuedOn }}
                </div>
              </div>
              <div v-if="(warningIndex + 1) < issuedWarnings.length" style="border-bottom: 1px solid white;"></div>
            </div>
            <h3 v-if="searchWarnings.length == 0" style="color: white; text-align: center; font-weight: bold;"><br>
              No results found!
            </h3>
          </div>
        </div>
      </div>

      <!-- Commends -->
      <div id="commends_container" v-show="displayCommends">
        <div id="commends_header" style="text-decoration: underline;">
          Received Commends
        </div>

        <div id="commends_body">
          <input class="commend_search" v-model="commendSearch" type="text" placeholder="Search Commends...">
          <div class="commend_header">
            <div class="id_header">
              ID
            </div>
            <div class="issued_by_header">
              Issued By
            </div>
            <div class="reason_header">
              Reason
            </div>
            <div class="issued_on_header">
              Issued On
            </div>
          </div>

          <div id="issued_commends">
            <div class="issued_commend" v-for="(commend, commendIndex) in searchCommends" v-if="searchCommends.length > 0">
              <div class="commend_data">
                <div class="id">
                  {{ commend.id }}
                </div>
                <div class="issued_by">
                  <div>{{ commend.issuedBy }}</div>
                </div>
                <div class="reason">
                  {{ commend.reason }}
                </div>
                <div class="issued_on">
                  {{ commend.issuedOn }}
                </div>
              </div>
              <div v-if="(commendIndex + 1) < searchCommends.length" style="border-bottom: 1px solid white;"></div>
            </div>
            <h3 v-if="searchCommends.length == 0" style="color: white; text-align: center; font-weight: bold;"><br>
              No results found!
            </h3>
          </div>
        </div>
      </div>
    </v-app>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Vutify & Vue.JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    
    <!-- FontAwesome -->
    <script src="./libraries/js/all.js"></script>
    <script src="./libraries/js/all.min.js"></script>

    <!-- JQuery -->
    <script src="./libraries/js/jquery.min.js"></script>

    <!-- Simply Notify -->
    <script src="./libraries/js/simple-notify.min.js"></script>

    <!-- Default -->
    <script src="events.js"></script>
    <script src="script.js"></script>
  </body>
</html>
