/* FONTS */
@font-face {
  font-family: 'PT-Sans-Bold';
  src: url('./assets/fonts/PT-Sans-Bold.ttf');
}

@font-face {
  font-family: 'Tanseek';
  src: url('./assets/fonts/scoreboard/tanseek-modern-pro-arabic-bold.ttf');
}

@font-face {
  font-family: 'Inter-Thin';
  src: url('./assets/fonts/scoreboard/Inter-Thin.ttf');
}

@font-face {
  font-family: 'Inter-Light';
  src: url('./assets/fonts/scoreboard/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./assets/fonts/scoreboard/Inter-Regular.ttf');
}

:root {

  /* Colours */
  --white: white;
  --logoGradient: linear-gradient(90deg, rgba(74,10,124,1) 39%, rgba(56,167,244,1) 88%);
  --notificationBG: rgba(17, 17, 17, 0.8);
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
}

#HUD {
  width: 100%;
  height: 100%;

  font-family: "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji",  Arial, sans-serif;

  /* background-color: var(--darkBackground) !important; */
  background-color: transparent !important;
}

/* SCOREBOARD */
#scoreboard_container {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Verdana;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#scoreboard {
  position: absolute;
  height: 40%;
  width: 500px;
  padding: 10px;
  padding: 10px;
  font-family: "Tanseek";
}

#scoreboard_header {
  text-align: center;
  background: var(--logoGradient);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 2.3em;
}

#scoreboard_body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
}

.player_header {
  display: flex;
  width: 100%;
  color: white;
  font-size: 1.8em;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.9);
  height: 40px;
}

.player_header .id_header {
  width: 25%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: var(--white);
}

.player_header .name_header {
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-color: var(--white);
}

.player_header .playtime_header {
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-color: var(--white);
}

.player_header .ping_header {
  width: 25%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}

#scoreboard_players {
  height: 100%;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
}

#scoreboard_players::-webkit-scrollbar {
  display: none;
}

#scoreboard_animation {
  position: absolute;
  width: 500px;
  height: 100%;
  min-height: 440px;
  background-color: rgba(0, 0, 0, 0.0);
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    background-color: rgba(0, 0, 0, 0.0);
  }
  to {
    background-color: rgba(0, 0, 0, 1.0);
  }
}

@keyframes fade-out {
  from {
    background-color: rgba(0, 0, 0, 1.0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.0);
  }
}

.player {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.player_data {
  display: flex;
  font-family: "Inter-Regular";
  font-size: 0.7em;
}

.player .id {
  height: 40px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.player .name {
  height: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: var(--white);
}

.player .playtime {
  height: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: var(--white);
}

.player .ping {
  height: 40px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.player .buttons {
  display: none;
}

.lowPing {
  color: limegreen;
}

.goodPing {
  color: yellow;
}

.decentPing {
  color: orange;
}

.badPing {
  color: red;
}

.player_buttons {
  display: block;
  width: 100%;
}

#scoreboard_pages {
  background: var(--logoGradient);
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  color: white;
  font-size: 1.8em;
}

/* CHAT */
/* Chat Messages */
#Chat-Messages {
  position: absolute;
  display: none;

  top: 56%;
  right: 1%;
  transform: translate(1%, -56%);

  /* Sliding */
  margin-right: -35%;
  
  width: 30%;
  /* max-height: 15%; */
  max-height: 25%;

  color: white;
  /* background-color: var(--notificationBG); */
  
  overflow-y: scroll;
  /* text-shadow: 1px 1px 1px black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; CREATES STROKE & DROP SHADOW */
  text-shadow: -1px -1px 2px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#Chat-Messages::-webkit-scrollbar {
  width: 5px;
}

#Chat-Messages::-webkit-scrollbar-thumb {
  background: white !important;
}

#Chat-Message {
  padding: 5px;
  font-size: 1em;
}

.killLog {
  color: gold;
  font-weight: bold;
}

.interaction {
  color: rgba(0, 255, 0, 0.75);
  font-weight: bold;
}

.action {
  color: rgb(255, 128, 0);
  font-weight: bold;
}

.advert {
  color: rgb(167, 59, 255);
  font-weight: bold;
}

.fault {
  color: #e21e1e;
  /* color: rgb(255, 81, 0); */
  font-weight: bold;
}

.local {
  color: white;
  font-weight: bold;
}

.global {
  color: #0099cc;
  font-weight: bold;
}

.admin {
  color: #e21e1e;
  font-weight: bold;
}

/* Chat Classes */
.chatBorder {
  border: 1px solid rgb(189, 189, 189);
}

/* Input */
#Chat-Input {
  /* IMPORTANT */
  position: absolute;
  display: flex;

  /* Position */
  bottom: 5%;
  right: 1%;
  transform: translate(1%, 5%);

  /* Size */
  width: 30%;
  
  background-color: var(--notificationBG);
}

/* Suggestions */
#Chat-Suggestions {
  /* IMPORTANT */
  position: absolute;
  display: flex;

  /* Position */
  bottom: 14%;
  right: 1%;
  transform: translate(1%, 14%);

  /* Size */
  width: 30%;
  max-height: 20%;
  padding: 10px;

  overflow-y: scroll;
  
  background-color: var(--notificationBG);
}

#Chat-Suggestions::-webkit-scrollbar {
  width: 5px;
}

#Chat-Suggestions::-webkit-scrollbar-thumb {
  background: white !important;
}

.suggestions {
  list-style-type: none;
  padding: 0.5%;
  padding-left: 1.4%;
  font-size: 1.3vh;
  box-sizing: border-box;
  color: white;
  /* background-color: rgba(44, 62, 80, 1.0); */
  width: 100%;
}

.help {
  color: #b0bbbd;
  margin-top: 1%;
  font-weight: normal;
}

.disabled {
  color: #b0bbbd;
}

.suggestion {
  margin-top: 0.5%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
