/* FONTS */
@font-face {
  font-family: 'PT-Sans';
  src: url('./assets/fonts/PT-Sans.ttf');
}

@font-face {
  font-family: 'PT-Sans-Bold';
  src: url('./assets/fonts/PT-Sans-Bold.ttf');
}

@font-face {
  font-family: 'PT-Sans-Caption';
  src: url('./assets/fonts/PT-Sans-Caption.ttf');
}

@font-face {
  font-family: 'Tanseek';
  src: url('./assets/fonts/scoreboard/tanseek-modern-pro-arabic-bold.ttf');
}

@font-face {
  font-family: 'Inter-Thin';
  src: url('./assets/fonts/scoreboard/Inter-Thin.ttf');
}

@font-face {
  font-family: 'Inter-Light';
  src: url('./assets/fonts/scoreboard/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./assets/fonts/scoreboard/Inter-Regular.ttf');
}

@font-face { font-family: roboto-regular;
  src: url('./assets/fonts/WorkSans-SemiBold.ttf');
}

:root {
  /* Vars */
  --menuHeaderFontWeight: 90px;

  /* Colours */
  --white: white;
  --logoGradient: linear-gradient(90deg, rgba(74,10,124,1) 39%, rgba(56,167,244,1) 88%);
  --cardGradient: linear-gradient(45deg, rgba(74,10,124,1) 39%, rgba(56,167,244,1) 88%);
  --notificationBG: rgba(17, 17, 17, 0.8);
  --darkBlueBG: #101727;
  --googleGray: rgb(241, 243, 244);
  --charactersHeaderShadow: 0px 4px 6px rgba(0, 0, 0, 1);
  --hoveredMenuButton: rgba(33, 165, 23, 0.6);
  --menuText: rgba(255, 255, 255, 0.85);
  --menuButton: rgb(15, 15, 15);
}

/* Chat Colours */
.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #2ecc71;}
.color-3{color: #e07502;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa00ff;}
.color-7{color: rgb(190, 190, 190);}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  /*background-color: var(--notificationBG) !important;*/
   background-color: transparent !important;
}

#HUD {
  width: 100%;
  height: 100%;

  font-family: "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji",  Arial, sans-serif;

  /* background-color: var(--darkBackground) !important; */
  background-color: transparent !important;
}

/* Characters */
#Characters_Container {
  position: absolute;
  
  width: 97%;
  height: 95%;

  top: 50%;
  left: 45%;
  transform: translate(-45%, -50%);
  z-index: 5;
}

/* [CHARACTERS] Header */
#Characters_Header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 15%;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  user-select: none;

  background: var(--cardGradient) !important;
}

.headerImage {
  position: absolute;
  display: flex;

  left: 10%;

  width: 10em;
  height: 100%;

  /* background-color: red; */
  
  background-image: url("assets/img/3d_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerText {
  position: absolute;
  display: flex;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin-bottom: 0.3em;  

  text-transform: uppercase;

  color: white;
  font-family: "Inter-Light";
  font-size: 3.4vw;
  font-weight: bolder;
  letter-spacing: .07em;
  text-shadow: var(--charactersHeaderShadow);
}

/* background-color: var(--notificationBG) !important; */

/* [CHARACTERS] BODY */
#Characters_Body {
  position: relative;

  width: 100%;
  height: 85%;

  background-color: var(--notificationBG) !important;
}

#Body_Card {
  position: relative;

  top: 45%;
  left: 2%;
  transform: translate(-2%, -45%);

  width: 25%;
  height: 93%;
  
  border-radius: 15px;

  background: var(--cardGradient) !important;
}

/* [CHARACTERS] BODY HEADER */
#Body_Card_Header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  padding: 5px;

  width: 100%;
  height: fit-content;
  
  text-align: center;
  text-transform: uppercase;
  text-shadow: var(--charactersHeaderShadow);

  user-select: none;
}

#bodyHeaderIcon {
  position: absolute;
  display: flex;

  top: 30%;
  left: 15%;
  transform: translate(-15%, -30%);
}

#bodyHeaderText {
  position: relative;
  display: flex;

  /* margin-bottom: 0.5em; */
  /* top: 0.2vh; */
  left: 3.5vw;
  transform: translate(-10%, 0%);
  
  color: white;
  font-family: "Inter-Light";
  font-size: 1.3vw;
  font-weight: bolder;
  letter-spacing: .1em;
}


#Body_Card_Characters {
  position: relative;

  top: 3%;
  left: 50%;
  transform: translate(-50%, -3%);

  width: 90%;
  height: 75%;
  max-height: 75%;
  overflow-y: scroll;
  overflow-x: hidden;

  /* background-color: #aa00ff; */
}

#Body_Card_Characters::-webkit-scrollbar {
  width: 5px;
}

#Body_Card_Characters::-webkit-scrollbar-thumb {
  background: white !important;
}

#Characters {
  width: 100%;
  text-align: center;
}

.character {
  padding: 10px;
  
  color: white;
  text-shadow: -1px -1px 2px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
  font-family: "Inter-Light";
  font-weight: bolder;
  font-size: 1.2em;

  user-select: none;
}

.selectedCharacter {
  text-decoration: underline;
}

.character:hover {
  background-color: var(--notificationBG);
  color: white;
  
  border: 1px solid white;
  border-radius: 5px;
}

#Character_Buttons_Container {
  position: relative;

  top: 3.5%;
  left: 50%;
  transform: translate(-50%, -3.5%);

  width: 90%;
  padding: 5px;
}

#Character_Buttons_Container_Single {
  position: relative;

  top: 7%;
  left: 50%;
  transform: translate(-50%, -7%);

  width: 90%;
  padding: 5px;
}

#Character_Buttons {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
  
  margin: 5px;
}

.v-btn.spawn {
  position: relative;
  
  top: 15%;
  left: 50%;
  transform: translate(-50%, 15%);
}

#Character_Card {
  position: absolute;

  /* Position */
  top: 10%;
  left: 35%;
  transform: translate(-35%, -10%);

  width: 20%;
  max-height: 50%;
  overflow-y: scroll;
  border-radius: 15px;
}

#Character_Card::-webkit-scrollbar {
  width: 5px;
}

#Character_Card::-webkit-scrollbar-thumb {
  background: white !important;
}

/* Char Creator Form */
#Character-Creator {
  position: absolute;

  /* Size */
  z-index: 999;
}

.v-dialog::-webkit-scrollbar-thumb {
  background: white !important; 
}

.v-dialog::-webkit-scrollbar {
  width: 5px; 
}

.v-dialog::-webkit-scrollbar-thumb {
  background: white !important; 
}

.v-date-picker-years::-webkit-scrollbar {
  width: 5px; 
}

.v-date-picker-years::-webkit-scrollbar-thumb {
  background: white !important; 
}

/* Spawn Info */
#Spawn_Container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkBlueBG) !important;
  z-index: 6;
}

#Spawn_Header {
  position: relative;
  display: block;

  height: 28%;
  width: 100%;
}

#ServerInfo {
  position: relative;
  display: inline-block;

  top: 3%;
  left: 2%;
  transform: translate(-2%, 3%);

  width: 15%;
  height: 95%;

  padding: 5px;
  border-radius: 15px;
  background: var(--cardGradient);

  color: var(--white);
  /* background-color: var(--logoGradient); */
}

#BestPlayer {
  position: relative;

  top: 50%;
  right: 2%;
  float: right;

  transform: translate(2%, -50%);

  width: 15%;
  height: 50%;

  padding: 5px;
  border-radius: 15px;
  background: var(--cardGradient);

  color: var(--white);
  /* background-color: var(--logoGradient); */
}

#Card_Header {
  position: relative;

  text-align: center;
  text-decoration: underline;

  font-family: "PT-Sans-Bold";
  font-size: 2em;
}

#Card_Body {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.playerCount .v-progress-circular__overlay {
  stroke-linecap: round;
}

#Card_Footer {
  position: absolute;

  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 5%);

  width: fit-content;

  text-align: center;

  font-family: "PT-Sans-Bold";
  font-size: 1.3em;
}

#Server_Banner {
  position: absolute;
  display: inline-block;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 50%;

  background-image: url("assets/img/server_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#Spawn_Body {
  position: absolute;
  display: block;

  width: 100%;
  height: 100%;
  /* background-color: #15b122; */
}

#Page_Selector {
  position: absolute;

  bottom: 37%;
  left: 1%;
  transform: translate(-1%, 37%);

  width: 12%;
  height: fit-content;

  /* float: left; */

  border-radius: 15px;
  background: var(--logoGradient);
}

#Middle_Card {
  position: absolute;

  top: 2%;
  left: 9%;
  transform: translateX(9%);

  width: 80%;

  color: white;

  border-radius: 15px;
  background: var(--logoGradient);
}

.middleOther {
  height: 65%;
}

.middleRules {
  height: 65%;
  /* height: 55%; */
}

#Middle_Card_Header {
  position: relative;

  text-align: center;
  text-decoration: underline;

  font-family: "PT-Sans-Bold";
  font-size: 2em;
}

#Middle_Card_Body {
  position: relative;

  height: 90%;
  overflow-y: hidden;
  padding: 5px;
  /* background-color: blue; */
}

#Changelog_Contents {
  position: relative;

  top: 2%;
  left: 0.5%;
  transform: translate(0.5%, 2%);

  width: 98%;
  height: 95%;
  max-height: 95%;
  overflow-y: scroll;

  padding-bottom: 15px;
  border: 3px solid black;
}

#Changelog_Contents::-webkit-scrollbar {
  width: 5px;
}

#Changelog_Contents::-webkit-scrollbar-thumb {
  background: white !important;
}

#KeybindSearch {
  position: relative;
  top: 2%;
  left: 0.5%;
  transform: translate(0.5%, 2%);
  width: 98%;
  height: 3em;
  border: 3px solid black;
  text-align: center;
  outline: none;
  color: white;
}

#KeybindSearch::placeholder {
  color: rgb(201, 201, 201);
}

#Keybinds_Contents {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  top: 4%;
  left: 0.5%;
  transform: translate(0.5%, 4%);

  width: 98%;
  height: 85%;
  max-height: 95%;
  overflow-y: scroll;

  padding: 15px;
  border: 3px solid black;
}

#Keybinds_Contents::-webkit-scrollbar {
  width: 5px;
}

#Keybinds_Contents::-webkit-scrollbar-thumb {
  background: white !important;
}

#Keybind_Card {
  position: relative;
  display: flex;
  margin: 10px;

  height: fit-content;

  padding: 15px;
  border-radius: 5px;

  background-color: #202020;
}

#Rules_Contents {
  position: relative;

  top: 2%;
  left: 0.5%;
  transform: translate(0.5%, 2%);

  width: 98%;
  height: 80%;
  max-height: 95%;
  overflow-y: scroll;

  padding-bottom: 15px;
  border: 3px solid black;
}

#Rules_Contents::-webkit-scrollbar {
  width: 5px;
}

#Rules_Contents::-webkit-scrollbar-thumb {
  background: white !important;
}

.ruleTitle {
  font-family: "PT-Sans-Bold";
  font-size: 1.5em;
  color: #ffffff;
}

.ruleDescription {
  margin-left: 25px;
  font-family: "Inter-Light";
  font-size: 0.9em;
}

#Spawn_Btn {
  position: relative;

  top: 3%;
  left: 50%;
  transform: translate(-50%, -3%);
  
  width: 12em;
  height: fit-content;
  padding: 10px;
  background-color: rgba(59, 184, 66);
  border-radius: 5px;

  outline: none;
}

.cardShadow {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

/* Vehicles */
#Vehicles_Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  height: 90%;

  /* background-color: #0099cc; */
  z-index: 4.5;
}

#Vehicles_Header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 15%;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  user-select: none;

  background: var(--cardGradient) !important;
}

#Vehicles_Body {
  position: relative;

  width: 100%;
  height: 85%;

  background-color: var(--notificationBG) !important;
}

#Vehicles_Body_Container {
  position: relative;

  top: 5%;
  left: 3%;

  width: 93%;
  height: 90%;

  /* background-color: #0099cc; */
}

.createVehBtn {
  margin-top: 30px;
}

.closeVehBtn {
  margin-top: 12px;
}

#Vehicles {
  position: inherit;
  margin-top: 20px;
  margin-left: 5%;

  width: 90%;
  
  max-height: 600px;
  overflow-y: scroll;
}

#Vehicles::-webkit-scrollbar {
  width: 5px;
}

#Vehicles::-webkit-scrollbar-thumb {
  background: white !important;
}

.vehicleButtons {
  margin-top: 10px;
}

.outline {
  position: fixed !important;
  display: block;

  bottom: 8%;
  /* left: 1.3%; */
  left: 5%;

  width: 0%;
  text-align: center;
  
  background-color: red;
}

.mapdirections {
  position: relative;
  display: block;

  top: 268px;
  right: 29px;

  width: 29.5vh;
  height: 29vh;

  background-image: url("assets/img/v2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mapbordercircle {
  position: relative;
  display: inline-block;

  top: 18px;
  left: -2px;

  width: 24vh;
  height: 23vh;

  border: 4px solid #ebebeb;
  border-radius: 50%;
  
}

#compass_container {
  height: 50vh;
  position: relative;
  width: 50vh;
  background-color: red;
}

#compass{
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 20%;
  height: 20%;

  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/141041/rdr-compass.png); */
  background-image: url("assets/img/v2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  
}

/* SCOREBOARD */
#scoreboard_container {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Verdana;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}

#scoreboard {
  position: absolute;
  height: 40%;
  width: 500px;
  padding: 10px;
  padding: 10px;
  font-family: "Tanseek";
}

#scoreboard_header {
  text-align: center;
  background: var(--logoGradient);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 2.3em;
}

#scoreboard_body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
}

.player_header {
  display: flex;
  width: 100%;
  color: white;
  font-size: 1.8em;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.9);
  height: 40px;
}

.player_header .id_header {
  width: 25%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: var(--white);
}

.player_header .name_header {
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-color: var(--white);
}

.player_header .playtime_header {
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-color: var(--white);
}

.player_header .ping_header {
  width: 25%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}

#scoreboard_players {
  height: 100%;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
}

#scoreboard_players::-webkit-scrollbar {
  display: none;
}

#scoreboard_animation {
  position: absolute;
  width: 500px;
  height: 100%;
  min-height: 440px;
  background-color: rgba(0, 0, 0, 0.0);
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
  background-color: rgba(0, 0, 0, 0.0);
  }
  to {
  background-color: rgba(0, 0, 0, 1.0);
  }
}

@keyframes fade-out {
  from {
  background-color: rgba(0, 0, 0, 1.0);
  }
  to {
  background-color: rgba(0, 0, 0, 0.0);
  }
}

.player {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.player_data {
  display: flex;
  font-family: "Inter-Regular";
  font-size: 0.7em;
}

.player .id {
  height: 40px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.player .name {
  height: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: var(--white);
}

.player .playtime {
  height: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: var(--white);
}

.player .ping {
  height: 40px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.player .buttons {
  display: none;
}

.lowPing {
  color: limegreen;
}

.goodPing {
  color: yellow;
}

.decentPing {
  color: orange;
}

.badPing {
  color: red;
}

.player_buttons {
  display: block;
  width: 100%;
}

#scoreboard_pages {
  background: var(--logoGradient);
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  color: white;
  font-size: 1.8em;
}

/* CHAT */
/* Chat Messages */
#Chat-Messages {
  position: absolute;
  display: none;

  top: 56%;
  right: 1%;
  transform: translate(1%, -56%);

  /* Sliding */
  margin-right: -35%;
  
  width: 30%;
  /* max-height: 15%; */
  max-height: 25%;

  color: white;
  /* background-color: var(--notificationBG); */
  
  overflow-y: scroll;
  /* text-shadow: 1px 1px 1px black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; CREATES STROKE & DROP SHADOW */
  text-shadow: -1px -1px 2px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  z-index: 1;
}

#Chat-Messages::-webkit-scrollbar {
  width: 5px;
}

#Chat-Messages::-webkit-scrollbar-thumb {
  background: white !important;
}

#Chat-Message {
  padding: 5px;
  font-size: 1em;
}

.killLog {
  color: gold;
  font-weight: bold;
}

.interaction {
  color: rgba(0, 255, 0, 0.75);
  font-weight: bold;
}

.action {
  color: rgb(255, 128, 0);
  font-weight: bold;
}

.advert {
  /* color: rgba(0, 255, 0, 0.75); */
  color: rgb(51, 226, 104);
  font-weight: bold;
}

.fault {
  color: #e21e1e;
  /* color: rgb(255, 81, 0); */
  font-weight: bold;
}

.successMsg {
  color: #15b122;
  /* color: rgb(255, 81, 0); */
  font-weight: bold;
}

.dispatch {
  color: rgb(211, 42, 47);
  font-weight: bold;
}

.gps {
  color: rgb(247, 243, 23);
  font-weight: bold;
}

.local {
  color: white;
  font-weight: bold;
}

.global {
  color: #0099cc;
  font-weight: bold;
}

.admin {
  color: #e21e1e;
  font-weight: bold;
}

/* Chat Classes */
.chatBorder {
  border: 1px solid rgb(189, 189, 189);
}

/* Input */
#Chat-Input {
  /* IMPORTANT */
  position: absolute;
  display: flex;

  /* Position */
  bottom: 5%;
  right: 1%;
  transform: translate(1%, 5%);

  /* Size */
  width: 30%;
  
  background-color: var(--notificationBG);
  z-index: 1;
}

/* Suggestions */
#Chat-Suggestions {
  /* IMPORTANT */
  position: absolute;
  display: flex;

  /* Position */
  bottom: 14%;
  right: 1%;
  transform: translate(1%, 14%);

  /* Size */
  width: 30%;
  max-height: 20%;
  padding: 10px;

  overflow-y: scroll;
  
  background-color: var(--notificationBG);
  z-index: 1;
}

#Chat-Suggestions::-webkit-scrollbar {
  width: 5px;
}

#Chat-Suggestions::-webkit-scrollbar-thumb {
  background: white !important;
}

.suggestions {
  list-style-type: none;
  padding: 0.5%;
  padding-left: 1.4%;
  font-size: 1.3vh;
  box-sizing: border-box;
  color: white;
  /* background-color: rgba(44, 62, 80, 1.0); */
  width: 100%;
}

.help {
  color: #b0bbbd;
  margin-top: 1%;
  font-weight: normal;
}

.disabled {
  color: #b0bbbd;
}

.suggestion {
  margin-top: 0.5%;
}

/* Warnings */
#warnings_container {
  position: absolute;

  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

  height: 50%;
  width: 60%;
  
  padding: 10px;
  padding: 10px;
  font-family: "Tanseek";

  z-index: 4;
}

#warnings_header {
  text-align: center;
  background: var(--logoGradient);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 2.3em;
}

#warnings_body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
}

.warning_header {
  display: flex;
  width: 100%;
  color: white;
  font-size: 1.8em;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.9);
  height: 40px;
}

.warning_header .id_header {
  width: 25%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: var(--white);
}

.warning_header .issued_by_header {
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-color: var(--white);
}

.warning_header .reason_header {
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-color: var(--white);
}

.warning_header .issued_on_header {
  width: 40%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}

.warning_search {
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  
  font-size: 1.5em;
  padding: 5px;

  border: 1px solid white;
  border-right: 0;
  border-left: 0;

  text-align: center;
}

#issued_warnings {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  overflow-y: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#issued_warnings::-webkit-scrollbar {
	width:0px; 
}
  
#issued_warnings::-webkit-scrollbar-thumb {
	background: white !important; 
}

.issued_warning {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.warning_data {
  display: flex;
  font-family: "Inter-Regular";
  font-size: 0.7em;
}

.warning_underline {
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1;
  border-left: 0;
  border-color: var(--white);
}

.issued_warning .id {
  height: 40px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.issued_warning .issued_by {
  height: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: var(--white);
}

.issued_warning .reason {
  height: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: var(--white);
}

.issued_warning .issued_on {
  height: 40px;
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 0.9em;
}

/* Commend */
#commends_container {
  position: absolute;

  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

  height: 50%;
  width: 60%;
  
  padding: 10px;
  padding: 10px;
  font-family: "Tanseek";

  z-index: 3;
}

#commends_header {
  text-align: center;
  background: var(--logoGradient);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 2.3em;
}

#commends_body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
}

.commend_header {
  display: flex;
  width: 100%;
  color: white;
  font-size: 1.8em;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.9);
  height: 40px;
}

.commend_header .id_header {
  width: 25%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: var(--white);
}

.commend_header .issued_by_header {
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-color: var(--white);
}

.commend_header .reason_header {
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-color: var(--white);
}

.commend_header .issued_on_header {
  width: 40%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}

.commend_search {
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  
  font-size: 1.5em;
  padding: 5px;

  border: 1px solid white;
  border-right: 0;
  border-left: 0;

  text-align: center;
}

#issued_commends {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  overflow-y: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#issued_commends::-webkit-scrollbar {
	width:0px; 
}
  
#issued_commends::-webkit-scrollbar-thumb {
	background: white !important; 
}

.issued_commend {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.commend_data {
  display: flex;
  font-family: "Inter-Regular";
  font-size: 0.7em;
}

.commend_underline {
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1;
  border-left: 0;
  border-color: var(--white);
}

.issued_commend .id {
  height: 40px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.issued_commend .issued_by {
  height: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: var(--white);
}

.issued_commend .reason {
  height: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: var(--white);
}

.issued_commend .issued_on {
  height: 40px;
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 0.9em;
}

/* Astrid Menu */
#astrid_menu {
  width: 100%;
  height: 100%;
}

#astrid_menu_base {
  position: absolute;
  width: 20%;
  font-family: 'Tanseek';
  background-color: rgba(17, 17, 17, 0.8) !important;
}

#astrid_menu_header {
  font-size: 30px;
  font-weight: var(--menuHeaderFontWeight);
  /* background-color: red; */
  /* padding: 15px; */
  text-align: center;
  color: var(--menuText);
}

#astrid_menu_body {
  position: relative;
  margin: 1px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

#astrid_menu_body::-webkit-scrollbar {
  width: 5px;
}

#astrid_menu_body::-webkit-scrollbar-thumb {
  background: rgba(223, 223, 223, 1) !important;
}

/* [Astrid Menu] BUTTON CLASSES */
.astrid_menu_button {
  padding: 12px;
  text-align: left;
  background-color: var(--menuButton);
  color: var(--menuText);
  font-size: 22px;
  margin: 5px;
}

.astrid_menu_button_hovered {
  background-color: var(--hoveredMenuButton) !important;
}

.astrid_menu_button_text {
  margin-top: -7px;
}

/* [Astrid Menu] CHECKBOX CLASSES */
.astrid_menu_checkbox {
  display: flex;
  flex-wrap: wrap;

  padding: 12px;
  text-align: left;
  font-size: 22px;
  background-color: var(--menuButton);
  color: var(--menuText);
  margin: 5px;
}

.astrid_menu_checkbox_hovered {
  background-color: var(--hoveredMenuButton) !important;
}

.astrid_menu_checkbox_icon {
  position: absolute;
  display: flex;
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding: 2px;
}

/* [Astrid Menu] LIST CLASSES */
.astrid_menu_list {
  padding: 12px;
  text-align: center;
  background-color: var(--menuButton);
  color: var(--menuText);
  font-size: 22px;
  margin: 5px;
}

.astrid_menu_list_hovered {
  background-color: var(--hoveredMenuButton) !important;
}

.astrid_menu_list_icon_left {
  position: absolute;
  left: 25px;
  margin-top: 3px;
}

.astrid_menu_list_icon_right {
  position: absolute;
  right: 25px;
  margin-top: 3px;
}

/* [Astrid Menu] POSITION CLASSES */
.top-left {
  top: 50px;
  left: 20px;
}

.top-right {
  top: 5px;
  right: 5px;
}

.middle-left {
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.middle-right {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.bottom-left {
  bottom: 5px;
  left: 5px;
}

.bottom-right {
  bottom: 5px;
  right: 5px;
}

/* Progress Bar */
#progressBar {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-family: "ChaletComprime";
  font-size: 30px;
  overflow: hidden;
}

.ui-label {
  font-family: "PT-Sans-Caption";
  /* background-color: red; */
  font-size: 20px;
  width: 400px;
  text-align: center;
}

.ui-dial {
  position: absolute;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.ui-dial svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.ui-dial svg circle {
  fill: transparent;
}

.ui-dial svg circle:last-child {
  z-index: 10;
}

.ui-dial.done {
  -webkit-animation: done 200ms ease 0ms forwards;
  animation: done 200ms ease 0ms forwards;
}

.ui-dial .ui-indicator {
  position: absolute;
  color: #fff;
  font-family: "PT-Sans-Bold";
  text-shadow: -1px -1px 2px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 14px;
}

.ui-dial .ui-label {
  position: absolute;
  color: #fff;
}

.ui-dial.label-bottom .ui-label {
  top: 100%;
  margin: 20px 0;
}
.ui-dial.label-right .ui-label {
  left: 100%;
  margin: 0 20px;
}

@-webkit-keyframes done {
  from {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  to {
      opacity: 0;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }
}

@keyframes done {
  from {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  to {
      opacity: 0;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }
}

/* Bug Reporting */
/* Char Creator Form */
#Bug-Reporting {
  position: absolute;

  /* Size */
  z-index: 999;
}

/* Hex Menu */
@keyframes hexShow {
  0%    {transform: scale(0);}
  100%   {transform: scale(1.2);}
}

.hexMenu{
  display: none;
  position:absolute;
  top:30%;
  left:35%;
  color:white;
  transform: scale(1.2);
  animation: hexShow .7s;

  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hexagon {
  width: 100px;
  height: 55px;
  background: rgba(25, 36, 46, 0.8);
  position: absolute;
  text-align: center;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid rgba(25, 36, 46, 0.8);
}

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid rgba(25, 36, 46, 0.8);
}

.hexagon:hover::before{
  border-bottom: 25px solid rgba(74, 10, 124, 0.8);
}

.hexagon:hover::after{
  border-top: 25px solid rgba(74, 10, 124, 0.8);
}

.hexagon:hover{
  background-color: rgba(74, 10, 124, 0.8);
}

.hex-1 {
  top: 20px;
  left: 0px;
}

.hex-2 {
  top: 20px;
  left: 110px;
}

.hex-3 {
  top: 20px;
  left: 220px;
}

.hex-4 {
  top: 110px;
  left: 55px;
}

.hex-5 {
  top: 110px;
  left: 165px;
}

.hex-6 {
  top: 110px;
  left: 275px;
}

.close {
  top: 20px;
  left: 330px;
}

#label-1, #label-2, #label-3, #label-4, #label-5, #label-6, #label-close {
  font-family: "PT-Sans-Bold";
  font-size: 1.5vh;
  margin-top: 13%;
}

/* Death UI */
#Death_Container {
  position: absolute;

  transform: translate(-50%, 2%);
  bottom: 2%;
  left: 50%;

  width: 35%;
  height: fit-content;
}

.respawnCounter {
  text-align: center;

  color: white;
  font-family: "Tanseek";

  font-size: 2.3em;
}

.holdCounter {
  text-align: center;
}

.holdText {
  color: white;
  font-family: "Tanseek";

  font-size: 2.3em;
}

/* Player & Veh HUD */
#Hud_Container {
  display: none;
}

#Location_Hud {
  position: absolute;
  
  /* width: 97%; */
  /* height: 95%; */

  /*top: 1.2vh;*/
  top: 0.2vh;
  right: 0.8vw;
  transform: translate(1%, 0%);

  text-align: right;

  z-index: 5;
}

/* Time & Location */
.clock {
  font-family: "PT-Sans-Bold";
  font-size: 1.2vw;
  color: white;
}

.street {
  font-family: "PT-Sans-Bold";
  font-size: 1.2vw;
  
  margin-top: -.5vw;

  color: white;
}

.postal {
  font-family: "PT-Sans-Bold";
  font-size: 0.8vw;

  margin-top: -.2vw;

  color: white;
}

.compassDirection {
  font-size: 1vw;
  font-style: italic;
  font-family: "Tanseek";

  margin-top: -.3vw;

  text-transform: uppercase;
  color: gold;
}

/* Vehicle HUD */
#Vehicle_Hud {
  position: absolute;

  bottom: 0.5%;
  left: 0.5%;

  transform: translate(-0.5%, 0.9%);

  width: 35vw;
  height: 30vh;

  /*background-color: #15b122;*/
}

/* Speedometer */
#Speedometer_Container {
  display: none;
}

#Speedometer_Dial_Container {
  position: fixed;
  left: 13vw;
  bottom: -80px;
  width: 20.8vw;
  height: 20.8vw;
  z-index: 2;
}

#speedometerDial {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

#Speedometer_Fill_Container {
  position: fixed;
  left: 13vw;
  bottom: -80px;
  width: 20.8vw;
  height: 20.8vw;
  z-index: 1;
}

#speedometerFill {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

#rpmContainer {
  position: fixed;
  left: 10.9vw;
  bottom: -76px;
  width: 20.8vw;
  height: 20.8vw;
  z-index: 1;
}

#rpmMeter {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.speedoContainer {
  position: fixed;
  width: 100px;
  height: 100px;

  left: 21vw;
  bottom: 65px;
  font-size: 2.5vw;
  font-family:roboto-regular;

  color: white;
  font-weight: 600;
}

.mphText {
  position: absolute;
  font-size: 1vw;
  bottom: 20px;
  left: 2.5vw;
}

.rpm {
  position: absolute;
  font-size: 0.75vw;
  bottom: 85px;
  right: 0.6vw;
}

.iconContainer {
  position: fixed;
  left: 18vw;
  bottom: 25px;
  font-family: roboto-regular;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.864);
  border-radius: 4px;
  color: white;
  font-size: 16px;
}

/* Priority */
#Priority_Container {
  position: absolute;

  bottom: 3vh;
  left: -1vw;

  width: 18.7vw;
  height: 4vh;

  /*background-color: red;*/
  text-align: center;
}

.priority {
  font-family: "PT-Sans-Bold";
  font-size: 1vw;
  color: white;
}

.priorityState {
  font-family: 'Tanseek';
  font-size: 1.4vw;
}

.units {
  font-family: "PT-Sans-Bold";
  font-size: 1vw;
  color: white;
}

.dropShadow {
  text-shadow: 1px 1px 1px black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* Kidnap Blindfold */
#kidnapBlindfold {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/blindfold.jpg");
}